*,
html {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  width: 100%;
  height: calc(100vh -50px);
  max-width: 1200px;
}

.body-map {
  display: flex;
  width: 400px;
  height: 500px;
}

@media screen and (max-width: 600px) {
  .body-map {
    display: flex;
    justify-content: center;

    width: 400px;
  }
}

.a,
.b {
  fill: #677a90;
}

.a {
  clip-rule: evenodd;
}

.c {
  clip-path: url(#a);
}

.d {
  clip-path: url(#b);
}

.e {
  clip-path: url(#c);
}

.f {
  clip-path: url(#e);
}

.g {
  clip-path: url(#g);
}

.h {
  clip-path: url(#i);
}

.i {
  clip-path: url(#k);
}

.j {
  clip-path: url(#m);
}

.k {
  clip-path: url(#o);
}

.l {
  clip-path: url(#q);
}

.m {
  clip-path: url(#s);
}

.n {
  clip-path: url(#u);
}

.o {
  clip-path: url(#w);
}

.p {
  clip-path: url(#y);
}

.q {
  clip-path: url(#aa);
}

.r {
  clip-path: url(#ac);
}

.s {
  clip-path: url(#ae);
}

.t {
  clip-path: url(#ag);
}

.u {
  clip-path: url(#ai);
}

.v {
  clip-path: url(#ak);
}

.w {
  clip-path: url(#am);
}

.x {
  clip-path: url(#ao);
}

.y {
  clip-path: url(#aq);
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  margin-bottom: 70px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 3px #000000;
  background: #9b9191;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 41px;
  width: 21px;
  border-radius: 45px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #9b9191;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 3px #000000;
  background: #9b9191;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 41px;
  width: 21px;
  border-radius: 45px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.6s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #9b9191;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #9b9191;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 41px;
  width: 21px;
  border-radius: 45px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #9b9191;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #9b9191;
}
